<header class="main-header">
  <a href="index.html" class="logo">
     <!-- Logo -->
     <span class="logo-mini">
     
     </span>
     <span class="logo-lg">
     
     </span>
  </a>
  <!-- Header Navbar -->
  <div id="navigation">
  </div>
</header>